<link rel="stylesheet" type="text/css" href="http://www.gnpcb.org/esv/assets/style/text.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<style type="text/css">
  a.esv_popout{ display:block; }
  .esv_lookup { display:none; }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $(".esv_popout").toggle(
      function(){ $(this).next(".esv_lookup").fadeIn(100); },
      function(){ $(this).next(".esv_lookup").fadeOut(100); }
    );
  });
</script>

{% load esv_api %}
<h1>Verses</h1>

<a href="#" class="esv_popout">John 3:16</a>
<div class="esv_lookup">{{ "John 3:16"|esv_lookup }}</div>

<a href="#" class="esv_popout">Psalm 147:3-5</a>
<div class="esv_lookup">{{ "Psalm 147:3-5"|esv_lookup }}</div>
